<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="projects"></ion-back-button>
    </ion-buttons>
    <ion-title>New Task</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #createTaskForm="ngForm" (ngSubmit)="onSubmit(createTaskForm)">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Title</ion-label>
            <ion-input type="text" ngModel name="title" autocomplete autocorrect required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Description</ion-label>
            <ion-textarea rows="6" type="text" ngModel name="description" autocomplete autocorrect required></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label>Status</ion-label>
            <ion-select ngModel name="status" value="Non entamé" required>
              <ion-select-option value="Non entamé">Non entamé</ion-select-option>
              <ion-select-option value="En cours">En cours</ion-select-option>
              <ion-select-option value="Terminé">Terminé</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label>Priority</ion-label>
            <ion-select ngModel name="priority" required>
              <ion-select-option value="0">0</ion-select-option>
              <ion-select-option value="1">1</ion-select-option>
              <ion-select-option value="2">2</ion-select-option>
              <ion-select-option value="3">3</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3" class="ion-text-right">
          <ion-button type="submit" [disabled]="!createTaskForm.valid" (click)="onCreateTask()">Create</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>