<!--<ion-header>
  <ion-toolbar>
    <ion-title>{{ project.title }}</ion-title>
  </ion-toolbar>
</ion-header>-->

<!--<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="projects"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="detail">
        <ion-label>Detail</ion-label>
        <ion-icon name="folder-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="tasks">
        <ion-label>Tasks</ion-label>
        <ion-icon name="checkmark-done-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="members">
        <ion-label>Members</ion-label>
        <ion-icon name="people-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="project-chat">
        <ion-label>Project Chat</ion-label>
        <ion-icon name="chatbubbles-outline"></ion-icon>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-content>