<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="projects"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ member.nom }} {{ member.prenom }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2">
        <ion-card>
          <ion-card-header class="ion-text-center"> -->
            <!-- <ion-avatar class="ion-text-center">
              <ion-img [src]="member.imgUrl" style="height: 130px; width: 130px;"></ion-img>
            </ion-avatar> -->
            <!-- <ion-card-title>{{ member.nom }} {{ member.prenom }}</ion-card-title>
            <ion-card-subtitle><ion-icon name="briefcase-outline"></ion-icon>  {{ member.poste }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-icon name="call-outline" slot="start"></ion-icon>
                <ion-label>{{ member.tel }}</ion-label>
              </ion-item>
              <ion-item>
                <ion-icon name="at-outline" slot="start"></ion-icon>
                <ion-label>{{ member.mail }}</ion-label>
              </ion-item>
            </ion-list> -->
            <!--<p><ion-icon name="call-outline" ></ion-icon>{{ member.tel }}</p>
            <p><ion-icon name="at-outline"></ion-icon>{{ member.mail }}</p>-->
          <!-- </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content> -->